.idea
.cache
.pytest_cache
*.pyc
CTI/
workspace/cosma
.env
.idea
__pycache__
.pytest_cache
test/autofit/test_fit/parallel_phase/
arctic/
test/autofit/test_fit/phase/model.results
test/autofit/test_fit/phase/optimizer
pySHE_ArCTIC.py
test/integration/data/
test/integration/tests/output/
test/output/